.idea/
**.pyc
**/*.sqlite3
**/*.postgresql
**/*.postgresql_psycopg2
.DS_Store

ibook/.vscode
.env

# code coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# database files mounted from docker container
db
release/production/db
release/production/static

static
.vscode
